<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css"></script>
    <link rel="stylesheet" href="form.css">
    <script src="form.js"></script>
    <title>Register form</title>
</head>

<body>
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>Register Form</h3>
                <p class="blue-text">Please fill in company details</p>
                <form action="/addren" autocomplete="on" method="POST" enctype="multipart/form-data">

                    <div class="card">
                        <h5 class="text-center mb-4">1 Utama</h5>
                        <form class="form-card" onsubmit="event.preventDefault()">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Company Name<span class="text-danger">
                                            *</span></label> <input type="text" id="c_name" name="c_name"
                                        placeholder="" onblur="validate(1)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Company SSM<span class="text-danger">
                                            *</span></label>
                                    <input type="text" id="c_ssm" name="c_ssm" placeholder=""
                                        onblur="validate(2)">
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Business email<span class="text-danger">
                                            *</span></label> <input type="text" id="email" name="email" placeholder=""
                                        onblur="validate(3)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Phone number<span class="text-danger">
                                            *</span></label> <input type="text" id="mobile" name="mobile" placeholder=""
                                        onblur="validate(4)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Category<span class="text-danger">
                                            *</span></label>
                                    <input type="text" id="cat" name="cat" placeholder="" onblur="validate(5)">
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-12 flex-column d-flex"> <label
                                        class="form-control-label px-3">What is your service / product<span
                                            class="text-danger"> *</span></label> <input type="text" id="ans" name="ans"
                                        placeholder="" onblur="validate(6)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Image<span class="text-danger">
                                            *</span></label>
                                            <input type=file id="ren_image_file" name="ren_image_file" style="font-size:14pt;color:black;">
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="form-group col-sm-6"> <button type="submit"
                                        class="btn-block btn-primary">submit</button> </div>
                            </div>
                        </form>
                        <a href="/index.html">Home</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>